[submodule "gb-test-roms"]
	path = gb-test-roms
	url = git@github.com:retrio/gb-test-roms.git
[submodule "libs/nana"]
	path = libs/nana
	url = git@github.com:cnjinhao/nana.git
[submodule "libs/units"]
	path = libs/units
	url = git@github.com:nholthaus/units.git
	branch = tags/v2.3.1
